# apps/web
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules

# apps/web PWA
dist
dist-ssr
dev-dist

# apps/worker
target/
**/*.rs.bk
*.pdb

# general
.env
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?